
.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dayItem {
  margin-left: auto;
  margin-right: auto

}
.event_modal {
  left: 0px;
   top: 0px
}
.day_list {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 500px;
}
.day_item {
  word-wrap: break-word;
  /*border-style: solid;
  border-color: #a0a0a0;
  border-width: thin;*/
  max-width: 500px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;

}
@import "bootstrap/dist/css/bootstrap.css";
