
.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.participantItem {
  margin-left: auto;
  margin-right: auto

}

.participant_list {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 500px;
}
.list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 500px;
}
.participant_item {
  word-wrap: break-word;
  max-width: 500px;
  margin: auto;
  padding: 25px;

}
.element-enter {
  opacity: 0;
}
.element-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.element-exit {
  opacity: 1;
}
.element-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.form {
  padding: 25px;
}


@import "bootstrap/dist/css/bootstrap.css";
